* {
  margin: 0;
  font-family: "Permanent Marker", cursive;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.drop-main {
  display: flex;
  color: white;
  font-size: 70px;
  margin: 1.5rem;
  justify-content: center;
}
.tic {
  opacity: 0;
  animation: drop 0.4s linear forwards;
}
.space1 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.2s;
}
.tac {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.4s;
}
.space2 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.6s;
}
.toe {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.8s;
}
@keyframes drop {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

h2 {
  font-size: 27px;
  color: white;
  text-align: center;
  padding-bottom: 5px;
}

#gameboard {
  width: 450px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.box {
  height: 148px;
  width: 148px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 120px;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

.box:nth-child(3n) {
  border-right: none;
}
.box:nth-child(6) ~ .box {
  border-bottom: none;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border-color: white;
  font-size: 18px;
  transition: 200ms transform;
  font-weight: 600;
}

.modal {
  display: none;
  margin-bottom: 20px;
}

.modal-content {
  background-color: #fefefe;
  color: black;
  position: sticky;
  top: 50%;
  left: 50%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  border-radius: 10px;
}

.current-player-turn {
  position: relative;
  padding: 10px;
  font-size: 18px;
  color: white;
}

.pulse {
  animation: pulse 0.5s ease-in alternate infinite;
}

@keyframes pulse {
  0% {
    font-size: 120px;
  }
  100% {
    font-size: 170px;
  }
}

@media (width < 760px) {
  .drop-main {
    font-size: 50px;
    margin-top: 10px;
  }

  .modal-content {
    top: 40%;
    left: 40%;
  }
  .box {
    font-size: 100px;
  }
  #gameboard {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  @keyframes pulse {
    0% {
      font-size: 100px;
    }
    100% {
      font-size: 130px;
    }
  }
  button {
    color: black;
  }
}
